* {
    margin: 0;
    padding: 0;
}

.flix {
    font-size: 10rem;
    position: absolute;
    top: 10rem;
    left: 14rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    animation: otumba 6s;
}

.plix {
    font-size: 10rem;
    position: absolute;
    top: 10rem;
    left: 22rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    animation: lanre 6s;
}

.mlix {
    font-size: 10rem;
    position: absolute;
    top: 10rem;
    left: 30rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    animation: omotolani 6s;
}

.ilix {
    font-size: 10rem;
    position: absolute;
    top: 10rem;
    left: 38rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    animation: dolapo 6s;
}

.slix {
    font-size: 10rem;
    position: absolute;
    top: 10rem;
    left: 46rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    animation: joshua 6s;
}

.nlix {
    font-size: 10rem;
    position: absolute;
    top: 10rem;
    left: 54rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    animation: heavenly-joy 6s;
}

.llix {
    font-size: 10rem;
    position: absolute;
    top: 10rem;
    left: 62rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    animation: bryan 6s;
}

.maimailooloo-long {
    background-color: black;
    text-align: center;
}

@keyframes otumba {
    0% {
        transform: translatex(-20rem);
    }
    5% {
        opacity: 0;
    }
    1% {
        color: deeppink;
    }
    10% {
        transform: rotatez(360deg);
    }
}

@keyframes lanre {
    0% {
        transform: translatey(20rem);
    }
    5% {
        opacity: 0;
    }
    1% {
        color: orange;
    }
    10% {
        transform: rotatez(360deg);
    }
}

@keyframes omotolani {
    0% {
        transform: translatex(30rem);
    }
    5% {
        opacity: 0;
    }
    1% {
        color: yellow;
    }
    10% {
        transform: rotatez(360deg);
    }
}

@keyframes dolapo {
    0% {
        transform: translatey(-30rem);
    }
    5% {
        opacity: 0;
    }
    1% {
        color: green;
    }
    10% {
        transform: rotatez(360deg);
    }
}

@keyframes joshua {
    0% {
        transform: translatex(-30rem);
    }
    5% {
        opacity: 0;
    }
    1% {
        color: blue;
    }
    10% {
        transform: rotatez(360deg);
    }
}

@keyframes heavenly-joy {
    0% {
        transform: translatey(-50rem);
    }
    5% {
        opacity: 0;
    }
    1% {
        color: purple;
    }
    10% {
        transform: rotatez(90deg);
    }
}

@keyframes bryan {
    0% {
        transform: translatex(50rem);
    }
    5% {
        opacity: 0;
    }
    1% {
        color: pink;
    }
    10% {
        transform: rotatez(360deg);
    }
}

@keyframes poop {
    100% {
        transform: scale(1.5);
    }
    10% {
        transform: rotatez(360deg);
    }
}

.you {
    animation: poop 6s;
}